@model WeeferBookingSystem.Booking

@{
    ViewBag.Title = "Create";
}

@section css{
    @Styles.Render("~/bundles/metronic/styles/plugin-select2")
    @Styles.Render("~/bundles/metronic/styles/plugin-datetimepicker")
}
@section jsPlugin{
    @Scripts.Render("~/bundles/metronic/scripts/plugin-select2")
    @Scripts.Render("~/bundles/metronic/scripts/plugin-datetimepicker")
}
@section jsRuntime{
    <script>
            $(document).ready(function () {
                MyApp().dateTimePicker()
            });
    </script>
}

<h2>Create</h2>
<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm(@ViewContext.RouteData.Values["action"].ToString(), @ViewContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-basket font-green-sharp"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">
                            @ViewContext.RouteData.Values["controller"]
                        </span>
                        <span class="caption-helper">@ViewContext.RouteData.Values["action"]</span>
                    </div>
                </div>
                <div class="portlet-body form">
                    <div class="form-body">
                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        <div class="portlet light bordered">
                            <div class="portlet-title">
                                <div class="caption font-blue-sharp">
                                    <span class="caption-subject bold uppercase">
                                        @ViewBag.Title
                                    </span>
                                </div>
                                @Html.Partial("~/Views/Shared/_ActionButtonPartial.cshtml", Model, new ViewDataDictionary { { "status", "Draft" } })
                            </div>

                            <div class="portlet-body">
                                @Html.EditorFor(model => model.Description)

                                @Html.EditorFor(model => model.CategoryId, new { selectlist = ViewBag.CategoryId })

                                <div class="form-group form-md-line-input">
                                    <label class="control-label col-md-4">
                                        Date From<span class="required">*</span>
                                    </label>
                                    <div class='col-md-4'>
                                        @Html.TextBox("DateFrom", Model.DateFrom.ToString(GlobalVariable.DATETIMEFORMAT), new { @class = "form-control datetime-picker" })
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>

                                <div class="form-group form-md-line-input">
                                    <label class="control-label col-md-4">
                                        Date To<span class="required">*</span>
                                    </label>
                                    <div class='col-md-4'>
                                        @Html.TextBox("DateTo", Model.DateTo.ToString(GlobalVariable.DATETIMEFORMAT), new { @class = "form-control datetime-picker" })
                                        <div class="form-control-focus"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.Partial("~/Views/Shared/_ActionButtonPartial.cshtml", Model, new ViewDataDictionary { { "status", "Draft" } })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
